/* COLORS
 *
 * bg -     #333333
 * layer0 - #4a4a4a
 * layer1 - #5e5e5e
 * black -  #111111
 * grey -   #7d7d7d
 * white -  #f0f0f0

 * shadow - box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px;
 */

html, body {
    margin: 0;
    padding: 0;

    background-color: #333333;
    color: #f0f0f0;

    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100%;
}

/* ------------------------ */
.topBar {
    width: 100%;
    height: 75px;

    background-color: #111111;
    border-bottom: 1px solid #5e5e5e;
}

.topSub { /* shut the fuck up */
    padding: 8px 0 0 32px;
}

.topTitle {
    font-size: 30px;
}

.topDesc {
    color: #5e5e5e;
    font-size: 16px;
}

.prideText {
    font-family: comic sans ms;
    size: 12px;

    animation: rainbow 3s infinite; 
    -webkit-animation: rainbow 3s infinite;   
    -ms-animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%   {color: red;}
    16%  {color: orange;}    
    33%  {color: yellow;}   
    50%  {color: lime;}
    66%  {color: green;}
    83%  {color: blue;}
    100% {color: red;}
}

/* ------------------------ */
.outerBox {
    margin: 0 auto;
    padding: 8px;

    width: 95%;
    height: 95%;

    text-align: center;
}

.mainBox {
    padding: 10px;

    height: 100%;

    background-color: #4a4a4a;
    border-radius: 10px;
}

.layerBox {
    padding: 8px;

    background-color: #5e5e5e;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px;
}

/* ------------------------ */
.mainCanvas {
    width: 300px;
    height: 300px;

    border: 2px solid #f0f0f0;
    border-radius: 100%;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px;
}